// Main Page
.user-position-marker
  position: absolute
  width: 100%
  height: 0
  z-index: index($elements, user-position-marker)
  top: 50%
  a
    display: block
    width: 25px
    height: 25px
    @extend %m0auto
    background-image: asset-url('target@2x.png')
    @extend %bg-cover-image
  .i-am-here
    position: relative
    bottom: 100px
    @extend %m0auto
    width: 150px
    padding: 1.5em
    border: 2px solid $yellow
    +box-shadow(0 0 5px $black)
    color: $yellow
    background-color: $black-op90
    +border-radius(100px)

.filter-panel-wrapper
  $submit-btn-height: 55px

  +span(3)
  float: none
  position: absolute
  left: -25% // hide out of canvas
  background-color: $black-op80
  top: 80px
  bottom: 27px
  z-index: index($elements, filter-panel)
  overflow-x: hidden
  color: $white
  text-align: left

  &.actived
    left: 0

  .filter-section-wrapper
    position: relative
    border-bottom: 1px solid darken($yellow, 20)

  .filter-section
    padding: 1em
    border-bottom: 1px solid $gray
    &:last-child
      border: none

    h4
      font-size: $fz-l
      margin: 0
      padding: 0

    a
      display: block
      height: 3rem
      line-height: 3rem
      color: $light-gray
      .material-icons
        color: $yellow
        margin-top: 10px

    input, input:focus
      border: none
      margin: 0
      +box-shadow(none)

    .range-field
      margin: 0
      input[type=range], input[type=range]:-moz-focusring
        border: none
        outline: none
      input[type=range]::-webkit-slider-thumb
        background-color: $yellow
      input[type=range] + .thumb
        background-color: $yellow
      input[type=range]::-moz-range-thumb
        background-color: $yellow

    .select-wrapper span.caret
      color: $yellow
      right: 15px

    .select-dropdown
      border: 1px solid $yellow
      +border-radius(10px)
      text-align: center
      color: $yellow

    .dropdown-content
      background-color: $black-op80
      text-align: center
      & li > span
        text-align: center
        color: $yellow
      & li.active, & li:hover
        background-color: lighten($black-op80, 55)

  .filter-submit-btn
    width: 100%
    margin-top: 2em
    button
      width: 100%
      height: $submit-btn-height
      line-height: $submit-btn-height
      background-color: darken($yellow, 10)



.event-demo, .dm-demo
  position: absolute
  cursor: pointer
  @extend %bg-cover-image
  z-index: index($elements, map-event-dm)

.event-demo
  $icon-width: image-width('event-icon@2x.png') / 2
  $icon-height: image-height('event-icon@2x.png') / 2

  width: $icon-width
  height: $icon-height
  background-image: asset-url('event-icon@2x.png')
.dm-demo
  $icon-width: image-width('dm-icon@2x.png') / 2
  $icon-height: image-height('dm-icon@2x.png') / 2

  width: $icon-width
  height: $icon-height
  background-image: asset-url('dm-icon@2x.png')



//Klien

.dm-panel-wrapper
  background: $white
  width: 25%
  position: absolute
  right: -25%
  top: 80px
  height: auto
  bottom: 27px
  overflow: hidden
  z-index: index($elements, dm-panel)
  text-align: left
  +box-shadow(0 0 15px $black-op30)
  &.actived
    right: 0

  .close-btn
    position: absolute
    top: 10px
    right: 10px
    z-index: index($elements, dm-panel-close-btn)
    font-size: $fz-xl
    color: $white
    cursor: pointer
    &:hover
      +text-shadow(0 0 3px $black-op80)

  .dm-cover
    position: absolute
    width: 100%
    top: 0
    bottom: 70%
    font-family: $font-family-sans-serif
    +box-shadow(0 0 15px $black-op30)
    @extend %bg-cover-image
    &::before
      position: absolute
      top: 0
      left: 0
      content: ''
      width: 100%
      height: 100%
      background: rgba(0, 0, 0, .06)
    .title
      color: $white
      font-size: 30px
      margin-bottom: 0px
    .subtitle
      color: $white
      font-size: 12px
    .content-wrapper
      position: absolute
      text-align: center
      width: 100%
      top: 40%

  .dm-info-wrapper
    position: absolute
    top: 30%
    bottom: 30px + 10px
    padding: 1.5em
    overflow-y: scroll
    .photos-wrapper
      +clearfix
      .photos
        display: block
        +span(1 of 8)
        padding: 0 2px
        img
          display: block
          max-width: 100%
    .dm-info
      font-size: $fz-xs
      .title
        font-size: $fz-xl
        &:before
          display: inline-block
          content: ""
          margin-right: 5px
          margin-bottom: -2px
          width: 20px
          height: 20px
          @extend %bg-cover-image
        &.dm:before
          background-image: asset-url('dm-icon@2x.png')
        &.event:before
          background-image: asset-url('event-icon@2x.png')
      .city
        color: $gray
        margin-bottom: 15px
    .dm-price
      color: $money-golden
      font-family: $font-family-sans-serif
      .price
        display: inline-block
        padding: 0 .5em
        margin-left: .5em
        +border-radius(50px)
        cursor: pointer
        &.actived
          border: 2px solid $orange
          color: $orange
    .dm-description-wrapper
      margin-top: 1em
      margin-bottom: 1em
      border-top: 2px solid $light-gray
      border-bottom: 2px solid $light-gray
      padding: 10px 0
      .description
        p:first-child
          margin-top: 0
        p:last-child
          margin-bottom: 0

  .dm-options-wrapper
    $btn-height: 30px

    +clearfix
    position: absolute
    bottom: 0
    width: 100%
    padding: 5px 15px
    +box-shadow(0 0 25px $black-op30)
    ul
      +reset-list-style
      +reset-box-model
    li
      +reset-box-model
      display: block
      +span(4 of 12)
      padding: 0 1px
    .share
      +sassy-button("flat", 0, 12px, $facebook-blue)
      .fb-icon
        display: block
        width: $btn-height
        height: 100%
        font-size: $fz-xl
        +box-sizing(content-box)
        border-right: 2px solid $white
      .content
        display: block
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: $btn-height
    .favorite
      +sassy-button("flat", 0, 12px, $light-peach)
    .join
      +sassy-button("flat", 0, 12px, $yellow)
    .option
      position: relative
      padding: 0
      width: 100%
      height: $btn-height
      text-align: center
      line-height: $btn-height
