<div class="unit-wrapper">
  <div class="avatar">
    <%= image_tag c.user.image %>
  </div>
  <span class="name" title="Hey Mike 塞me">
    <%= c.user.name %>
  </span>
  <div class="leave-msg">
    <span>
      <%= c.content %>
    </span>
  </div>
</div>