<div class="file-field input-field">
    <input class="file-path validate" type="text"/>
    <div class="btn">
      <span>相關圖片</span>
      <input type="file" name="user[photos_attributes][][pic]" id="user_photos_attributes_pic">
    </div>
</div>