
        <div class="file-field input-field">
          <input class="file-path validate" type="text"/>
          <div class="btn">
            <span>相關圖片</span>
            <!-- <input type="file" /> -->
            <%= photo.file_field :pic %>
          </div>
        </div>
