<div class="shorten-dm-panel-wrapper">
  <!-- cover   actived trans-03s-->

  <!-- close button -->
  <i class="shorten-close-btn fa fa-close trans-03s" role="button"></i>

  <div class="shorten-dm-cover" style="background-image: url('http://topwalls.net/wallpapers/2012/03/cute-cat-1024x1280.jpg');">
  </div>

    <!-- shorten-dm information -->
  <div class="shorten-dm-info-wrapper">
    <!-- class [dm, event] 可切換 icon -->
    <ul>
      <li>
        <h4 class="title dm">Grinungen</h4>
      </li>
      <li>
        <div class="shorten-dm-info">
          <span class="host">Host:Oracle Designsp</span>
          <span class="time-title">Time：</span>
          <span class="timer">2015/08/25(sun)09:00 ~ 08/29(thu)21:00</span>
        </div>
      </li>
      <li>
      <!-- shorten-dm-price -->
        <div class="shorten-dm-price">
          <span>Price:</span>
          <!-- price divst -->
          <div class="price actived"><span>NT </span><span class="value">300</span></div>
          <div class="price"><span>NT </span><span class="value">600</span></div>
          <div class="price"><span>NT </span><span class="value">900</span></div>
        </div>
      </li>
    <!-- option buttons -->
      <li>
        <div class="shorten-dm-options-wrapper">
          <a href="#" class="option join">
            <span>Join</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
