<div class="shorten_dm-panel-wrapper">
  <!-- cover   actived trans-03s-->
  <div class="shorten_dm-cover" style="background-image: url('http://topwalls.net/wallpapers/2012/03/cute-cat-1024x1280.jpg');">
  </div>

    <!-- shorten_dm information -->
  <div class="shorten_dm-info-wrapper">
    <!-- class [dm, event] 可切換 icon -->
    <h4 class="title dm">Grinungen</h4>

    <div class="shorten_dm_info">
      <span class="host">Host:Oracle Designsp</span>
      <span class="time">Time：2015/08/25(sun)09:00 ~ 08/29(thu)21:00</span>
      <span class="city">City: Lorem ipsum dolor sit amet, consectetur </span>
    </div>
    <!-- shorten_dm_price -->
    <div class="shorten_dm-price">
      <span>Price:</span>
      <!-- price divst -->
      <div class="price actived"><span>NT </span><span class="value">300</span></div>
      <div class="price"><span>NT </span><span class="value">600</span></div>
      <div class="price"><span>NT </span><span class="value">900</span></div>
    </div>
    <!-- option buttons -->
    <div class="shorten-dm-options-wrapper">
      <ul>
        <li>
          <a href="#" class="option share">
            <span class="fb-icon"><%= icon 'facebook' %></span>
            <span class="content">Share</span>
          </a>
        </li>
        <li>
          <a href="#" class="option favorite">
            <span>Favorite</span>
          </a>
        </li>
        <li>
          <a href="#" class="option join">
            <span>Join</span>
          </a>
        </li>
      </ul>
      </a>
    </div>
  </div>
</div>
